ul.navbar-nav{
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
.navbar-nav{
    float: left;
    margin: 0;
}
.navbar-nav>li {
    float: left;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    background-color: transparent;
}